@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font: 14px/1.5 'Inter';
}

.content{
    max-width: 1200px;
    margin: 0 auto;
}

/* color */
body{
    /* background-color: aquamarine; */
}

.head{
    background: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size:1200px ;
    background-position: center center;
}


footer,
.main,
.nav{
    background-color: #d9d9d9;
}

.stats,
.pricing{
    background-color: white;
}

.last{
    background-color: #f5f5f5;
}

.pricing{
    max-width: 1100px;
    margin: 0 auto;
}

/* nav */

.nav{
    display: flex;
    justify-content: space-between;
    padding: 2em 3em 0em 4em;
}

.nav ul{
    display: flex;
    gap: 2em
}

.nav ul li{
    display: block;
}

.nav a{
    display: block;
    text-decoration: none;
    color:black;
    background-color: white;
    border: 1px solid black;
    padding: 0.3em 1em;
    margin-bottom: 1em;
    margin-top: -0.5em;
}

/* head */

.head{
    padding: 10em 40em 10em 13em
}

.head h1{
    font-size: 32px;
    max-width: 15ch;
    padding-bottom: 2em;
}

.head p{
    color: #fff;
    padding-bottom: 3em;
    max-width: 50ch;
}

.head a{
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 0.8em 1.6em;
    border-radius: 5px;
    font-size: 12px;
}

/* stats */

.stats{
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    justify-content: space-between;
}

.orange{
    color: #ff7c4c;
    font-size: 32px;
    font-weight: 700;
    padding: 1em 0;
}

.stats section{
    padding:2em 0;
}

.stats section h4{
    padding-bottom: 0.5em;
    font-weight: 400;
    font-size: 1.2em;
}

.desc {
    font-size: 0.75em;
}

/* main */

.main{
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap:2em;
}

img{
    display: block;
    width: 30%;
    height: auto;
}

.main section{
    display: flex;
    gap:2em;
}

.info h5{
    padding:2em 0;
    color:rgb(107, 107, 107)
}

.info h3{
    font-size: 20px;
    padding-bottom: 1em;
}

.info a{
    text-decoration: none;
    padding-bottom: 10px;
    color: rgb(28, 28, 28);
    font-weight: 700;
}

.info p {
    padding-top: 1em;
    color: grey;
}

/* pricing */

.pricing{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin: 0 auto;
    padding: 3em;
}

.pricing section{
    flex: 1 1 20%;
}

.pricing .text p{
    font-size: 0.8em;
    max-width: 43ch;
    padding: 5em 0 15em 0;
}

.offer{
    text-align: center;
}

.offer h5{
    font-size: 16px;
    padding-bottom: 1em;
}

.offer .price{
    font-size: 38px;
    font-weight: 200;
    padding-bottom: 0.3em;
}
.offer li{
    display: block;
    padding-bottom: 0.5em;
}

.offer span{
    font-weight: 700;
}

.offer a{
    display: inline-block;
    text-decoration: none;
    margin: 2em 0;
    padding: 0.4em 0.8em;
    border-radius: 3px;
}

.one{
    color: black;
    background-color: #ff7c4c;
}

.one a{
    color: #fff;
    background-color: black;
}

.two a{
    color: black;
    background-color:#fff;
}

.two {
    color: #fff;
    background-color: black;
}

/* footer */

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}

footer ul li{
    display: block;
}